<h1 mat-dialog-title>Pagos</h1>
<div mat-dialog-content>
  <div class="row mt-2" *ngFor="let fee of fees">
    <div class="col-7">
      <div class="row">
        <div class="col-12"><h6 class="mb-0">{{fee.name}}</h6></div>
        <div class="col-12"><h6><small>{{fee.value}}€</small></h6></div>
      </div>
    </div>
    <div class="col-5" *ngIf="fee.paid"><button mat-raised-button color="primary" (click)="cancelPayFee(fee.id)">Pagado</button></div>
    <div class="col-5" *ngIf="!fee.paid"><button mat-raised-button color="warn" (click)="payFee(fee.id)">No pagado</button></div>
  </div>
</div>
