<div class="example-container">
  <mat-table #table [dataSource]="dataSource" class="example-table"
             matSort matSortActive="number" matSortDisableClear matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.first_name }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.last_name }}</mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Alta</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.created | date }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="pendingFee">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pagos pendientes</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" *ngIf="row.pending_paids" (click)="openPendingFee(row.id); $event.stopPropagation()">Si</button>
        <button mat-raised-button disabled *ngIf="!row.pending_paids">No</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="selectable" (click)="detailMember(row.id)" ></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30">
  </mat-paginator>
</div>
